.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    height:600px;
    border:2px solid red; 
}

.child1, .child2, .child3, .child4{
   
}

.child1{
    background-color: yellow;
    display: grid;
    grid-column-start:1;
    grid: column end 13px;;
    grid-row-start:1;
    grid-row-end:1;
    height: 70px;
}

.child2{
    background-color: rgb(84, 249, 205);
}
.child3{
    background-color: rgb(234, 124, 209);
}
.child4{
    background-color: rgb(130, 241, 90);
}