.container{
    display: grid;
    grid-template-columns: auto auto auto;
    height:400px;
    border:2px solid red;
}
.ro1{
    background-color: aqua;
}
.ro2{
    background-color: rgb(105, 11, 143);
}

.ro3{               
    background-color: rgb(194, 13, 22);
}