/* body{
    background-color: chocolate;
   
}
.Container{
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    border: 7px solid green;
    width: 50px;
margin-top: 180px;
margin-left: 400px; 
background-color: bisque;
text-align: center;
text-align: center;

}
.child1
{ border: 8px solid gold;
    width: 50px;
    height: 30px;
    text-align: center;
   
}
    for sibling 
    div+p
     */
 div p  {
    background-color: aquamarine;
   
}
section{
    background-color: gold;
}
.l{
    background-color: brown;
}
#k{
    background-color: blue;
}